{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    <li>Id: {{ task.id }}</li>
    <li>Title: {{ task.title }}</li>
    <li>Description: {{ task.description }}</li>
    <li>Author: {{ task.authorName }}</li>
    <li>Created at: {{ task.creationDate|date('d-m-Y, H:i:s') }}</li>
    <li>Responsible worker: {{ task.responsibleWorkerName }}</li>
    <li>Priority: {{ task.priority }}</li>
    <li>Deadline: {{ task.deadline }} </li>




{% endblock %}